@import 'tailwindcss';

@layer theme {
  :root {
    --color-primary: --color-blue-600;
    --color-surface: --color-slate-50;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-surface);
}
